<div class="demo-example-wrapper">
    <mat-card>
        <mat-card-title>Hello World</mat-card-title>
        <mat-card-subtitle>A Basic Angular Hello World Example</mat-card-subtitle>
        <mat-card-content> It has survived not only five centuries, but also the leap
            into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
            release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
            software like Aldus PageMaker including versions of Lorem Ipsum.</mat-card-content>
        <mat-card-footer>
            <div style="padding: 15px;">
                <a routerLink="/hello-world" style="color:white">Click Here to see</a>
            </div>
        </mat-card-footer>
    </mat-card>
    <mat-card>
        <mat-card-title>Counter Example</mat-card-title>
        <mat-card-subtitle>A Demo Counter Example</mat-card-subtitle>
        <mat-card-content> It has survived not only five centuries, but also the leap
            into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
            release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
            software like Aldus PageMaker including versions of Lorem Ipsum.</mat-card-content>
        <mat-card-footer>
            <div style="padding: 15px;">
                <a routerLink="/counter" style="color:white">Click Here to see</a>
            </div>
        </mat-card-footer>
    </mat-card>
    <mat-card>
        <mat-card-title>TODO Example</mat-card-title>
        <mat-card-subtitle>A TODO Adder and List Example</mat-card-subtitle>
        <mat-card-content> It has survived not only five centuries, but also the leap
            into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
            release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
            software like Aldus PageMaker including versions of Lorem Ipsum.</mat-card-content>
        <mat-card-footer>
            <div style="padding: 15px;">
                <a routerLink="/todo" style="color:white">Click Here to see</a>
            </div>
        </mat-card-footer>
    </mat-card>
    <mat-card>
        <mat-card-title>Life Cycle</mat-card-title>
        <mat-card-subtitle>Explained Angular Lifecycle</mat-card-subtitle>
        <mat-card-content> It has survived not only five centuries, but also the leap
            into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
            release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
            software like Aldus PageMaker including versions of Lorem Ipsum.</mat-card-content>
        <mat-card-footer>
            <div style="padding: 15px;">
                <a routerLink="/life-cycle" style="color:white">Click Here to see</a>
            </div>
        </mat-card-footer>
    </mat-card>
    <mat-card>
        <mat-card-title>User Detail Example</mat-card-title>
        <mat-card-subtitle>Basic Example for Form Control</mat-card-subtitle>
        <mat-card-content> It has survived not only five centuries, but also the leap
            into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
            release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
            software like Aldus PageMaker including versions of Lorem Ipsum.</mat-card-content>
        <mat-card-footer>
            <div style="padding: 15px;">
                <a routerLink="/user-detail" style="color:white">Click Here to see</a>
            </div>
        </mat-card-footer>
    </mat-card>
    <mat-card>
        <mat-card-title>Form Example</mat-card-title>
        <mat-card-subtitle>Basic Example for Form Validation and Submission</mat-card-subtitle>
        <mat-card-content> It has survived not only five centuries, but also the leap
            into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
            release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
            software like Aldus PageMaker including versions of Lorem Ipsum.</mat-card-content>
        <mat-card-footer>
            <div style="padding: 15px;">
                <a routerLink="/form-example" style="color:white">Click Here to see</a>
            </div>
        </mat-card-footer>
    </mat-card>
    <mat-card>
        <mat-card-title>Mat Table Example</mat-card-title>
        <mat-card-subtitle>Basic Example Angular Material Table</mat-card-subtitle>
        <mat-card-content> It has survived not only five centuries, but also the leap
            into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
            release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
            software like Aldus PageMaker including versions of Lorem Ipsum.</mat-card-content>
        <mat-card-footer>
            <div style="padding: 15px;">
                <a routerLink="/table-example" style="color:white">Click Here to see</a>
            </div>
        </mat-card-footer>
    </mat-card>
    <mat-card>
        <mat-card-title>Services in Angular</mat-card-title>
        <mat-card-subtitle>Basic Example for Services in Angular</mat-card-subtitle>
        <mat-card-content> It has survived not only five centuries, but also the leap
            into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
            release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
            software like Aldus PageMaker including versions of Lorem Ipsum.</mat-card-content>
        <mat-card-footer>
            <div style="padding: 15px;">
                <a routerLink="/service-example" style="color:white">Click Here to see</a>
            </div>
        </mat-card-footer>
    </mat-card>
    <mat-card>
        <mat-card-title>What is RxJs?</mat-card-title>
        <mat-card-subtitle>Basic Example Explaining RXJS</mat-card-subtitle>
        <mat-card-content> It has survived not only five centuries, but also the leap
            into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
            release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
            software like Aldus PageMaker including versions of Lorem Ipsum.</mat-card-content>
        <mat-card-footer>
            <div style="padding: 15px;">
                <a routerLink="/rxjs-example" style="color:white">Click Here to see</a>
            </div>
        </mat-card-footer>
    </mat-card>
</div>