<h1>Hey 👋, Welcome to angular training</h1>

<!-- ################## TEXT INTERPOLATION AND EVENT BINDING ########################################-->
<!-- <div class="title">{{ title }}</div>
<div style="text-align: center;">
    <button (click)="onButtonClick()">{{buttonName}}</button>
</div> -->

<!-- ################## FIRST COMPONENT ########################################-->
<!-- <hello-world> </hello-world> -->

<!-- ################## BUILDING A DYNAMIC COMPONENT ########################################-->
<!-- <app-counter></app-counter> -->

<!-- ################## BUILT IN DIRECTIVE IN ANGULAR ######################################## -->
<!-- <app-user-detail></app-user-detail> -->

<!-- ################## LIFECYCLE OF COMPONENT ######################################## -->
<!-- <app-life-cycle *ngIf="showLifeCycleCmp"></app-life-cycle> -->

<!-- ################## COMPONENT INTERACTION ######################################## -->
<!-- <app-todo></app-todo> -->

<!-- ################## BASIC OF REST ######################################## -->
<!-- <app-rest-demo></app-rest-demo> -->

<router-outlet></router-outlet>